    <!--#include virtual="/header.xhtml" -->

    <!--#include virtual="/menu.xhtml" -->

    <div id="main">
      <h1>Archive</h1>
      <p>
        The archive is currently shared between GNU/Linux alpha, hppa, loong64, m68k, powerpc, ppc64, sh4,
        sparc64, x32 and GNU/Hurd. It uses
        <a href="https://salsa.debian.org/debian-ports-team/mini-dak">mini-dak</a>, in order
        to have one pool per architecture and various suites (<i>unstable</i>, <i>experimental</i>), and most notably
        the <i>unreleased</i> suite. This suite is used to upload packages which need hacks to build until the changes
        are integrated into Debian.
      </p>
      <p>
        You can browse the archive directly via <a href="http://ftp.ports.debian.org/debian-ports">http</a>.
      </p>

      <h1>APT sources</h1>
      <p>
        The archive includes binary-all packages mirrored regularly from
        Debian. To use it, add the following lines to your <code>/etc/apt/sources.list</code>:
      </p>
      <pre>
 deb http://deb.debian.org/debian-ports unstable main
 deb http://deb.debian.org/debian-ports unreleased main
      </pre>
      <p>
        and possibly:
      </p>
      <pre>
 deb http://deb.debian.org/debian-ports experimental main
      </pre>
      <p>
        This uses the recommended <a href="http://deb.debian.org/debian-ports">deb.debian.org</a> mirror. You can also use
        <a href="http://ftp.ports.debian.org/debian-ports">ftp.ports.debian.org</a> which actually corresponds to
        two different servers, one in The Netherlands and one in USA. These are both accessible
        through both IPv4 and IPv6. In case these are slow from your country, you might want to use a
        a different <a href="/mirrors">mirror</a> instead.
      </p>

      <h1>Packages authentication</h1>
      <p>
        If you want apt to verify the downloaded packages, it is recommended to install the
        <a href="https://packages.debian.org/debian-ports-archive-keyring"><code>debian-ports-archive-keyring</code> package</a>.
	Alternatively, but not recommended, you can manually import the Debian ports archive key into apt:
      </p>
      <pre>
 gpg --keyserver hkps://keys.openpgp.org --recv-keys 519759FBC670BFA6C87E42413AF65F93D6FBC5B9
 gpg --armor --export 519759FBC670BFA6C87E42413AF65F93D6FBC5B9 > /etc/apt/trusted.gpg.d/archive_2025.key
      </pre>
      <p>
        or
      </p>
      <pre>
 wget -O /etc/apt/trusted.gpg.d/archive_2025.key https://www.ports.debian.org/archive_2025.key
      </pre>

      <h1>Upload policy</h1>
        <ul>
          <li>
            Any change to the source you need to do implies moving the suite
            from <i>unstable</i> to <i>unreleased</i>, appending a magic
            <code>+string</code> or <code>~string</code> (see below) to the
            version to distinguish and/or filter it and adding a proper changelog
            entry.
          </li>
          <li>
            If an upload happens to <i>unreleased</i>, source must be included
            in the package <code>.changes</code> file.
          </li>
          <li>
            All Debian developers can request upload rights. Other people may
            need to seek a sponsor as is done on the Debian archive.
          </li>
          <li>
            Upload to <a href="ftp://ports-master.debian.org/incoming/">ftp://ports-master.debian.org/incoming/</a>. You will see the package appearing in less
            than 5 minutes on <a href="http://incoming.ports.debian.org/">http://incoming.ports.debian.org/</a>.
          </li>
          <li>
            If a package should be removed, please mail <a href="mailto:ftpmaster@ports-master.debian.org">ftpmaster@ports-master.debian.org</a>.
          </li>
        </ul>
      <h2>Magic <code>+string</code> or <code>~string</code></h2>
      <ul>
        <li>Updating config.guess and config.sub: <code>+cfg</code></li>
        <li>Relibtoolizing: <code>+libtool</code></li>
        <li>Autotools: <code>+autotool</code></li>
        <li>Changes for any GNU system variants: <code>+gnu</code> or <code>~gnu</code></li>
        <li>Changes for GNU/Linux alpha: <code>+alpha</code> or <code>~alpha</code></li>
        <li>Changes for GNU/Linux hppa: <code>+hppa</code> or <code>~hppa</code></li>
        <li>Changes for GNU/Linux loong64: <code>+loong64</code> or <code>~loong64</code></li>
        <li>Changes for GNU/Linux m68k: <code>+m68k</code> or <code>~m68k</code></li>
        <li>Changes for GNU/Linux powerpc: <code>+powerpc</code> or <code>~powerpc</code></li>
        <li>Changes for GNU/Linux ppc64: <code>+ppc64</code> or <code>~ppc64</code></li>
        <li>Changes for GNU/Linux sh4: <code>+sh4</code> or <code>~sh4</code></li>
        <li>Changes for GNU/Linux sparc64: <code>+sparc64</code> or <code>~sparc64</code></li>
        <li>Changes for GNU/Linux x32: <code>+x32</code> or <code>~x32</code></li>
        <li>Changes for GNU/Hurd: <code>+hurd</code> or <code>~hurd</code></li>
      </ul>
    </div>
    <!--#include virtual="/footer.xhtml" -->
