<h2>Sun, 09 Jun 2024 15:49:05 +0200</h2>
  <p>
   The <a href="https://www.debian.org/ports/ia64/index.html">ia64</a> port has been removed from the debian-ports
   archive following the removal of support from various upstream projects, such as the
   <a href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=1e0c505e13162a2abe7c984309cfe2ae976b428d">Linux Kernel</a>
   and the <a href="https://sourceware.org/git/?p=glibc.git;a=commit;h=460860f457e2a889785c506e8c77d4a7dff24d3e">GNU C library</a>.

   The old packages are still available through the <a href="http://snapshot.debian.org/archive/debian-ports/20240609/">snapshot.debian.org</a> service.
  </p>

<h2>Thu, 26 Oct 2023 22:28:36 +0200</h2>
  <p>
    The riscv64 architecture has been <a href="https://lists.debian.org/debian-riscv/2023/07/msg00053.html">added to the official archive</a>
    a few months ago. Given most of the packages have now been rebuilt, it has just been removed from the debian-ports archive.
  </p>

<h2>Fri, 14 Jul 2023 16:24:14 +0200</h2>
  <p>
    The <a href="https://www.debian.org/ports/kfreebsd-gnu/">kfreebsd-amd64 and kfreebsd-i386</a> ports have been removed from the debian-ports
    archive, as they have <a href="https://lists.debian.org/debian-devel/2023/05/msg00306.html">stopped being developped</a>. The packages are
    still available through the <a href="http://snapshot.debian.org/archive/debian-ports/20230705/">snapshot.debian.org</a> service.
  </p>

<h2>Sun, 21 May 2023 23:38:10 +0200</h2>
  <p>
    The <a href="https://wiki.debian.org/Ports/loong64">loong64</a> port has been added to debian-ports.
  </p>

<h2>Thu, 11 May 2023 23:33:18 +0200</h2>
  <p>
    The <a href="https://www.debian.org/ports/hurd/">hurd</a>-amd64 port has been added to debian-ports.
  </p>

<h2>Sat, 25 May 2019 10:22:17 +0200</h2>
  <p>
    The <a href="https://www.debian.org/ports/kfreebsd-gnu/">kfreebsd-amd64 and kfreebsd-i386</a>
    ports (unstable and experimental) are now hosted on <a href="http://ftp.ports.debian.org/">ftp.ports.debian.org</a>.
    They were previously hosted on <a href="http://ftp.debian.org">ftp.debian.org</a>.
  </p>

<h2>Sat, 25 May 2019 10:06:58 +0200</h2>
  <p>
    The <a href="https://wiki.debian.org/PowerPCSPEPort">powerpcspe</a> port has been removed
    from the debian-ports archive due to lack of upstream support. The packages are still
    available through the <a href="http://snapshot.debian.org/archive/debian-ports/20190519/">snapshot.debian.org</a>
    service.
  </p>

<h2>Mon, 22 Apr 2019 19:23:32 +0200</h2>
  <p>
    The <a href="https://www.debian.org/ports/hurd/">hurd</a> port (unstable and experimental)
    is now hosted on <a href="http://ftp.ports.debian.org/">ftp.ports.debian.org</a>.
    It was previously hosted on <a href="http://ftp.debian.org">ftp.debian.org</a>.
  </p>

<h2>Sun, 01 Jul 2018 19:51:55 +0200</h2>
  <p>
    The <a href="https://www.debian.org/ports/powerpc/">powerpc</a> port (unstable and experimental)
    is now hosted on <a href="http://ftp.ports.debian.org/">ftp.ports.debian.org</a>.
    It was previously hosted on <a href="http://ftp.debian.org">ftp.debian.org</a>.
  </p>

<h2>Sat, 24 Mar 2018 23:53:47 +0100</h2>
  <p>
    The riscv64 port has been added to debian-ports. More details about this port is available
    <a href="https://wiki.debian.org/RISC-V">here</a>.
  </p>

<h2>Sat, 30 Dec 2017 23:10:01 +0100</h2>
  <p>
    The 2017 debian-ports archive signing key will expire in about one month. The 2018 one has been created,
    uploaded to the keyservers, and a new version of the <a href="https://packages.debian.org/sid/debian-ports-archive-keyring">debian-ports-archive-keyring</a>
    package has also been uploaded. This key will be used in the next few days to sign the archive in addition
    to the 2017 one, which will be deactivated when expired.
  </p>
  <p>
    The key is:
  </p>
  <pre>
pub   rsa4096/0x06AED62430CB581C 2017-12-30 [SC] [expires: 2019-01-31]
      58E64B9BB11BC112205DBCDB06AED62430CB581C
uid                  [  full  ] Debian Ports Archive Automatic Signing Key (2018) &lt;ftpmaster@ports-master.debian.org&gt;
  </pre>
  <p>
    It can be found as well on <a href="https://www.ports.debian.org/archive_2018.key">https://www.ports.debian.org/archive_2018.key</a>
  </p>

<h2>Thu, 05 Oct 2017 08:49:05 +0200</h2>
  <p>
    CD images for debian-ports architectures have been moved to Debian's official cdimage mirror aka
    <a href="https://cdimage.debian.org/cdimage/ports/">cdimage.debian.org</a>.
  </p>

<h2>Sat, 28 May 2016 12:12:55 +0200</h2>
  <p>
      The debian-ports archive has been moved from the old leda.debian.net
      machine to a new DSA administrated machine called <a href="https://db.debian.org/machines.cgi?host=porta">porta.debian.org</a>.
      The software managing the archive, <a href="https://salsa.debian.org/debian-ports-team/mini-dak/">mini-dak</a>, is still
      the same, however the whole is now better integrated in the debian.org
      namespace and with the mirror system.
  </p>
  <p>
      The archive is now available on <a href="http://ftp.ports.debian.org/debian-ports">ftp.ports.debian.org/debian-ports</a>,
      see the <a href="/archive">corresponding page</a> for more details. Redirections have been setup so that the
      old URLs still work, but they will not be kept permanently.
  </p>
  <p>
      CD images are now available on <a href="http://ftp.ports.debian.org/debian-ports-cd">ftp.ports.debian.org/debian-ports-cd</a>.
  </p>
  <p>
      This website is now available through HTTPS. All the links should have been updated, but don't hesitate to
      <a href="mailto:ftpmaster@ports-master.debian.org">report</a> any broken link.
  </p>

<h2>Fri, 26 Feb 2016 22:36:31 +0100</h2>
  <p>
      The powerpcspe architecture has recently received some new interest. A new
      group of porters have been formed and the port has been recreated. More details
      about this port are available <a href="https://wiki.debian.org/PowerPCSPEPort">here</a>.
  </p>


<h2>Mon, 25 Jan 2016 13:12:42 +0100</h2>
  <p>
    The 2015 debian-ports archive signing key will expire in the next days (sorry for the late change). I've created the 2016 one,
    uploaded it to the keyservers, and uploaded a new version of the <a href="https://packages.debian.org/sid/debian-ports-archive-keyring">debian-ports-archive-keyring</a>
    package. This key is already used to sign the archive in addition to the 2015 one, which will be deactivated when expiring.
  </p>
  <p>
    The key is:
  </p>
  <pre>
pub   4096R/705A2CE1 2016-01-24 [expires: 2017-02-01]
      Key fingerprint = 69DD B056 0EA8 6E87 E835  99B3 B4C8 6482 705A 2CE1
uid                  Debian Ports Archive Automatic Signing Key (2016) &lt;ftpmaster@debian-ports.org&gt;
  </pre>
  <p>
    It can be found as well on <a href="https://www.ports.debian.org/archive_2016.key">https://www.ports.debian.org/archive_2016.key</a>
  </p>

<h2>Mon, 11 Jan 2016 13:20:40 +0100</h2>
  <p>
      The powerpcspe architecture does not have developers anymore, and has not seen any
      upload for months. It has therefore been removed from the debian-ports archive. The
      packages are still available through the <a href="http://snapshot.debian.org/archive/debian-ports/20160110/">snapshot.debian.org</a>
      service.
  </p>

<h2>Thu, 20 Aug 2015 10:33:14 +0200</h2>
  <p>
      The wanna-buildd part of debian-ports.org has been merged onto <a href="https://buildd.debian.org">buildd.debian.org</a>,
      the machine used for the official Debian archive.
  </p>

<h2>Thu, 29 Jan 2015 00:19:06 +0100</h2>
  <p>
    The 2014 debian-ports archive signing key will expire in the next days (sorry for the late change). I've created the 2015 one,
    uploaded it to the keyservers, and uploaded a new version of the <a href="https://packages.debian.org/sid/debian-ports-archive-keyring">debian-ports-archive-keyring</a>
    package. This key is already used to sign the archive in addition to the 2014 one, which will be deactivated when expiring.
  </p>
  <p>
    The key is:
  </p>
  <pre>
pub   4096R/C448326E 2015-01-27 [expires: 2016-02-01]
      Key fingerprint = 1AD7 967B 6A55 FDD7 C074  6577 A53A B45A C448 326E
uid                  Debian Ports Archive Automatic Signing Key (2015) &lt;ftpmaster@debian-ports.org&gt;
  </pre>
  <p>
    It can be found as well on <a href="https://www.ports.debian.org/archive_2015.key">https://www.ports.debian.org/archive_2015.key</a>
  </p>

<h2>Sat, 25 Jan 2014 23:50:39 +0100</h2>
  <p>
    The 2013 archive signing key will expire at the end of the month. I've created the 2014 one, uploaded it to the
    keyservers, and uploaded a new version of the <a href="https://packages.debian.org/sid/debian-ports-archive-keyring">debian-ports-archive-keyring</a>
    package. This key is already used to sign the archive in addition to the 2013 one, which will be deactivated at
    the end of the month.
  </p>
  <p>
    The key is:
  </p>
  <pre>
pub   4096R/623DB0B8 2014-01-16 [expires: 2015-01-31]
      Key fingerprint = 141C 2C65 6948 C9B2 E5E9  8231 AA65 1E74 623D B0B8
uid                  Debian Ports Archive Automatic Signing Key (2014) &lt;ftpmaster@debian-ports.org&gt;
  </pre>
  <p>
    It can be found as well on <a href="https://www.ports.debian.org/archive_2014.key">https://www.ports.debian.org/archive_2014.key</a>
  </p>

<h2>Sun, 01 Jan 2013 09:29:42 +0100</h2>
  <p>
    The 2012 archive signing key will expire at the end of the month. I've created the 2013 one, uploaded it to the
    keyservers, and uploaded a new version of the <a href="https://packages.debian.org/sid/debian-ports-archive-keyring">debian-ports-archive-keyring</a>
    package. This key is already used to sign the archive in addition to the 2012 one, which will be deactivated at
    the end of the month.
  </p>
  <p>
    The key is:
  </p>
  <pre>
pub   4096R/2FF7A9F4 2012-12-30 [expires: 2014-01-31]
      Key fingerprint = F192 9868 D640 54EF 3E89  6A96 1C46 6F27 2FF7 A9F4
uid                  Debian Ports Archive Automatic Signing Key (2013) &lt;ftpmaster@debian-ports.org&gt;
  </pre>
  <p>
    It can be found as well on <a href="https://www.ports.debian.org/archive_2013.key">https://www.ports.debian.org/archive_2013.key</a>
  </p>

<h2>Sat, 29 Dec 2012 20:18:21 +0100</h2>
  <p>
    The X32 port has been added to debian-ports. More details about this port is available
    <a href="https://wiki.debian.org/X32Port">here</a>.
  </p>

<h2>Sun, 11 Mar 2012 17:56:24 +0100</h2>
  <p>
    Due to an increasing popularity of debian-ports.org, the server has been
    quite loaded in the last days, to the point of not being able to run
    the daily archive install.
  </p>
  <p>
    To address the issue, the critical parts of
    <a href="https://salsa.debian.org/debian-ports-team/mini-dak">mini-dak</a> have
    been rewritten in Python. rsync has also been access has been limited to
    <a href="http://www.debian-ports.org/mirrors">push mirrors</a> only. The server
    now seems to handle the load correctly, at least for the last day.
  </p>
  <p>
    If you were using the rsync access, please use one of the
    <a href="http://www.debian-ports.org/mirrors">push mirrors</a> instead. We are
    working on restoring the access on another machine.
  </p>


<h2>Sun, 08 Jan 2012 19:04:42 +0100</h2>
  <p>
    The 2011 archive signing key will expire at the end of the month. I've created the 2012 one, uploaded it to the
    keyservers, and uploaded a new version of the <a href="https://packages.debian.org/sid/debian-ports-archive-keyring">debian-ports-archive-keyring</a>
    package. This key is already used to sign the archive in addition to the 2011 one, which will be deactivated at
    the end of the month.
  </p>
  <p>
    The key is:
  </p>
  <pre>
pub   4096R/A92F9FF4 2012-01-08 [expires: 2013-01-31]
      Key fingerprint = CE2B 74E2 A7D4 384E 0BA3  C57D A2A5 60BC A92F 9FF4
uid                  Debian Ports Archive Automatic Signing Key (2012) &lt;ftpmaster@debian-ports.org&gt;
  </pre>
  <p>
    It can be found as well on <a href="https://www.ports.debian.org/archive_2012.key">https://www.ports.debian.org/archive_2012.key</a>
  </p>

<h2>Sat, 07 Jan 2012 15:14:29 +0100</h2>
  <p>
    The ppc64 port has been added to debian-ports. More details about this port is available
    <a href="https://wiki.debian.org/PPC64">here</a>.
  </p>

<h2>Fri, 30 Dec 2011 19:12:01 +0100</h2>
  <p>
    The armhf and s390x ports have been added to the official <a href="http://ftp-master.debian.org">Debian archive</a>,
    and therefore remove from debian-ports.org. The packages on the ftp are going to stay a bit more though.
  </p>

<h2>Sat, 17 Dec 2011 14:33:18 +0100</h2>
  <p>
    The avr32 port has not seen any update in the last two years, and has
    therefore been removed.
  </p>

<h2>Sat, 13 Aug 2011 16:32:08 +0200</h2>
  <p>
    Thanks to <a href="http://sparcs.kaist.ac.kr/">System Programmers' Association for Researching Computer Systems (SPARCS)</a> of
    the <a href="http://www.kaist.ac.kr">Korea Advanced Institute of Science and Technology (KAIST)</a>
    we now have a <a href="http://ftp.kr.debian.org/debian-ports/">debian-ports mirror</a> in South-Korea.
  </p>

<h2>Tue, 09 Aug 2011 23:56:59 +0200</h2>
  <p>
    The s390x port has been added to debian-ports. More details about this port is
    available <a href="http://blog.aurel32.net/?p=59">here</a>.
  </p>

<h2>Mon, 09 May 2011 12:45:09 +0200</h2>
  <p>
    The <a href="https://www.debian.org/ports/alpha/">alpha</a> and
    The <a href="https://www.debian.org/ports/hppa/">hppa</a> ports (unstable and experimental) are
    now now hosted on <a href="ftp://ftp.debian-ports.org">ftp.debian-ports.org</a>.
    They were previously hosted on <a href="ftp://ftp.debian.org">ftp.debian.org</a>.
  </p>

<h2>Sun, 01 May 2011 19:53:42 +0200</h2>
  <p>
   debian-ports.org has moved to a new machine, which should solve our
   disk space issues and secure the hosting for the future. This
   machine is now hosted by <a href="https://www.debian.org/">Debian</a>
   and is called leda.debian.net. Thanks to <a href="https://wiki.debian.org/Teams/DSA">DSA</a>
   for making that possible.
  </p>
  <p>
    The new SSH host keys are:
  </p>
  <pre>
    (DSA) 1024 92:81:ff:30:c5:fb:85:92:70:8c:aa:d0:ea:3e:0e:c9
    (RSA) 2048 44:ea:d0:12:49:03:7b:e1:ba:80:d3:cd:a4:03:76:2b
  </pre>
  <p>
    I would like to thanks <a href="http://www.skyrock.com">Skyrock/Telefun</a> for
    hosting the previous machines in the last 3 years.
  </p>

<h2>Wed, 12 Jan 2011 19:53:42 +0100</h2>
  <p>
    The 2010 archive signing key will expire at the end of the month. I've created the 2011 one, uploaded it to the
    keyservers, and uploaded a new version of the <a href="https://packages.debian.org/sid/debian-ports-archive-keyring">debian-ports-archive-keyring</a>
     package. It's the key that will start to be used in the next few days.
  </p>
  <p>
    The key is:
  </p>
  <pre>
pub   4096R/22261D71 2011-01-11 [expires: 2012-01-31]
      Key fingerprint = E44C FDE5 0EE9 031D E6D3  5ACC D9B9 37C6 2226 1D71
uid                  Debian Ports Archive Automatic Signing Key (2011) &lt;ftpmaster@debian-ports.org&gt;
sub   4096R/DAE4D596 2011-01-11 [expires: 2012-01-31]
  </pre>
  <p>
    It can be found as well on <a href="https://www.ports.debian.org/archive_2011.key">https://www.ports.debian.org/archive_2011.key</a>
  </p>

<h2>Tue, 31 Aug 2010 15:42:45 +0200</h2>
  <p>
    The armhf port has been added to debian-ports. More details about this port is available
    <a href="https://wiki.debian.org/ArmHardFloatPort">here</a>.
  </p>

<h2>Wed, 28 Jul 2010 21:47:28 +0200</h2>
  <p>
    For various reasons, the debian-ports.org machine now runs with an UTC timezone. This means the
    archive runs now happen at 06:02, 12:02, 18:02 and 00:02 UTC.
  </p>

<h2>Wed, 28 Jul 2010 17:41:46 +0200</h2>
  <p>
    debian-ports now runs the latest postgresql-based version of <a href="https://buildd.debian.org/git/wanna-build.git/">wanna-build</a>.
    The <a href="https://buildd.debian.org/status/">status pages</a> are now using
    <a href="https://buildd.debian.org/git/pgstatus.git">pgstatus</a> instead of
    <a href="https://buildd.debian.org/git/status.git/">status</a>.
  </p>

<h2>Tue, 15 Jun 2010 11:03:34 +0200</h2>
  <p>
    Thanks to <a href="http://www.exmeritus.com">eXMeritus</a>
    we now have a <a href="http://opensource.exmeritus.com/mirror/debian-ports/">debian-ports mirror</a> in the United-States.
  </p>

<h2>Tue, 25 May 2010 19:05:27 +0200</h2>
  <p>
    The <a href="https://packages.debian.org/debian-ports-archive-keyring">debian-ports-archive-keyring</a> package
    has been accepted into the archive. It contains the debian-ports archive signing key, and will be updated when
    a new key is generated.
  </p>
<h2>Wed, 12 May 2010 08:26:52 +0200</h2>
  <p>
    The <a href="http://en.wikipedia.org/wiki/PowerPC_e500">PowerPCSPE</a> port has been added to
    debian-ports. More details about this port is available <a href="https://wiki.debian.org/PowerPCSPEPort">here</a>.
  </p>

<h2>Thu, 7 Jan 2010 11:27:42 +0100</h2>
  <p>
    The 2009 archive signing key will expire at the end of the month. I've created the 2010 one, uploaded it to the
    keyservers, and it's the one that will start to be used in the next few days.
  </p>
  <p>
    The key is:
  </p>
  <pre>
pub   4096R/4D922A56 2010-01-07 [expires: 2011-01-31]
      Key fingerprint = E3A1 3759 FB59 B641 45A8  6154 F460 A91E 4D92 2A56
uid                  Debian Ports Archive Automatic Signing Key (2010) &lt;ftpmaster@debian-ports.org&gt;
sub   4096R/ADD48578 2010-01-07 [expires: 2011-01-31]
  </pre>
  <p>
    It can be found as well on <a href="https://www.ports.debian.org/archive_2010.key">https://www.ports.debian.org/archive_2010.key</a>
  </p>

<h2>Wed, 25 Nov 2009 23:29:00 +0100</h2>
  <p>
    Thanks to <a href="http://www.advalem.net/">Advalem Technologies</a>,
    we now have an IPv6 accessible <a href="http://debian.advalem.net/">debian-ports mirror</a>
    in France.
  </p>

<h2>Sat, 18 Jul 2009 14:49:10 +0200</h2>
  <p>
    The <a href="http://en.wikipedia.org/wiki/SuperH">SH4</a> port has been added to
    debian-ports. More details about this port is available <a href="https://wiki.debian.org/SH4">here</a>.
  </p>


<h2>Mon, 11 May 2009 09:23:41 +0200</h2>
  <p>
    The <a href="http://en.wikipedia.org/wiki/AVR32">AVR32</a> port has been added to
    debian-ports. More details about this port is available <a href="http://avr32.debian.net">here</a>.
  </p>

<h2>Mon, 11 May 2009 09:04:01 +0200</h2>
  <p>
    When the machine has been moved to Skyrock/Telefun, the native IPv6 connectivity has been lost
    and replaced by a <a href="http://en.wikipedia.org/wiki/6to4">6to4</a> address. This protocol
    is <a href="https://www.sixxs.net/tickets/?msg=tickets-888637">not fully supported</a> by
    <a href="https://www.sixxs.net/">SixXS</a>, causing problems from people accessing the
    debian-ports.org machine through SixXS. To solve this issue, it is now using a SiXXS tunnel
    for the IPv6 connectivity. The DNS has been updated in consequence.
  </p>

<h2>Sun, 15 Feb 2009 19:16:42 +0100</h2>
  <p>
    Following the <a href="https://www.debian.org/News/2009/20090214">announcement</a>
    of Debian Lenny, I have made a <a href="http://ftp.debian-ports.org/debian-snapshot/lenny/">snapshot</a> of the debian-ports.org archive at the date of the release.
    Please also note that a weekly snapshot of the archive is also
    <a href="http://ftp.debian-ports.org/debian-snapshot/">available</a>.
  </p>

<h2>Fri, 31 Jan 2009 07:04:02 +0100</h2>
  <p>
    The archive key as expired today. I've created a new one, uploaded it to the
    keyservers, and it's the one that will start to be used for new signatures.
  </p>
  <p>
    The key is:
  </p>
  <pre>
pub   1024D/0917E535 2008-01-31 [expires: 2010-01-31]
      Key fingerprint =  E658 64F0 9ACB 601F 3EFD  1509 AE4A 3129 0917 E535
      uid                  Debian Ports Archive Automatic Signing Key (2009) &lt;ftpmaster@debian-ports.org&gt;
  </pre>
  <p>
    It can be found as well on <a href="https://www.ports.debian.org/archive_2009.key">https://www.ports.debian.org/archive_2009.key</a>
  </p>

<h2>Fri, 30 Jan 2009 23:39:26 +0100</h2>
  <p>
    Thanks to the <a href="http://www.nctu.edu.tw">National Chiao Tung University</a> of Taiwan
    we now have a <a href="http://debian.nctu.edu.tw">debian-ports mirror</a> in Asia.
  </p>

<h2>Tue, 23 Sep 2008 23:19:39 +0200</h2>
  <p>
    <a href="https://www.debian.org/ports/m68k/">m68k</a>'s unstable archive
    and wanna-build is now hosted on <a href="ftp://ftp.debian-ports.org">ftp.debian-ports.org</a>.
    It was previously hosted on <a href="ftp://ftp.debian.org">ftp.debian.org</a>.
  </p>

<h2>Mon, 21 Apr 2008 13:41:29 +0200</h2>
  <p>
    During the last week-end, debian-ports.org has been moved to a new
    machine, which is faster and has a lot more disk space. The IP address
    has changed but the DNS records have been updated, so as long as you
    don't use the IP directly everything should still work.
  </p>
  <p>
    The machine is now capable of accepting new ports, currently SH4 seems
    to be the next one. To accept a new port, we require that a minimal set
    of .deb packages has been ported, for example enough to run a buildd.
    Don't hesistate to <a href="/contacts">ask</a> for more details.
  </p>
  <p>
    I would like to thanks <a href="http://www.skyrock.com">Skyrock/Telefun</a>
    for hosting the machine, Debian for buying it, and our former DPL,
    <a href="http://sam.zoy.org">Sam Hocevar</a>, for making this possible.
  </p>

<h2>Wed, 16 Apr 2008 13:49:43 +0200</h2>
  <p>
    A <a href="https://salsa.debian.org/debian-ports-team">git repository</a> of the tools used to run Debian Ports
    is now available.
  </p>

<h2>Tue, 15 Apr 2008 23:44:27 +0200</h2>
  <p>
    <a href="http://incoming.debian-ports.org/buildd/">http://incoming.debian-ports.org/buildd/</a> now
    contains a copy of the latest uploaded packages from both
    <a href="http://incoming.debian.org/">http://incoming.debian.org/</a> and
    <a href="http://incoming.debian-ports.org/">http://incoming.debian-ports.org/</a>, in an apt-getable
    repository. The primarly goal is to provide autobuilders a way to be able to start building packages
    without having to wait for the next mirror push.
  </p>
  <p>
    <b>Only the sources packages are publically apt-getable</b>. If you run a build daemon, you can
    <a href="mailto:ftpmaster@debian-ports.org">ask</a> for access to apt-getable binary packages.
    Otherwise, just be patient!
  </p>
  <p>
    Put the following line into your /etc/apt/sources.list:
  </p>
  <pre>
    deb-src http://incoming.debian-ports.org/buildd unstable main
    deb-src http://incoming.debian-ports.org/buildd experimental main
  </pre>

<h2>Fri, 25 Jan 2008 07:04:02 +0100</h2>
  <p>
    The archive key will expire in a few days. I've created a
    new one, uploaded it to the keyservers, and it's the one that will start
    to be used for new signatures.
  </p>
  <p>
    The key is:
  </p>
  <pre>
pub   1024D/43229C06 2008-01-20 [expires: 2009-01-31]
      Key fingerprint = ABFD 3EF3 57EE CF22 5AED  7EC0 0792 1824 4322 9C06
      uid                  Debian Ports Archive Automatic Signing Key (2008) &lt;ftpmaster@debian-ports.org&gt;
  </pre>
  <p>
    It can be found as well on <a href="https://www.ports.debian.org/archive_2008.key">https://www.ports.debian.org/archive_2008.key</a>
  </p>


<h2>Sun, 20 Jan 2008 13:30:27 +0100</h2>
  <p>
    Due to abuse (an IP downloading a .iso file with more than 220 connections)
    the maximum number of connections per IP for a .iso file has been limited to 25.
  </p>

<h2>Sun, 02 Dec 2007 23:41:23 +0100</h2>
  <p>
    The machine is now accessible through native IPv6.
  </p>
